.radarChart {
	cursor: default;
	fill: #242424;
	/* Also controls tooltip text */
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	text-align: center;
	text-shadow: 0 1px 0 #DDD, 1px 0 0 #DDD, -1px 0 0 #DDD, 0 -1px 0 #DDD;
}

/*.legend {
			font-family: 'Raleway', sans-serif;
			fill: #333333;
		}*/

.tooltip {
	color: "#00FF00";
	fill: #000;
	font-weight: 900;
	opacity: 1;
	text-shadow: none;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: auto;
	margin-top: 3em;
	width: 80%;
}

.wrapLeft {
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
	width: 80%;
}

.wrapRight {
	-webkit-box-flex: 1;
	    -ms-flex: auto;
	        flex: auto;
	padding-left: 1em;
}

/* Legend */
ul.legend {
	font-family: "Raleway";
	list-style: none;
	margin-left: -2em;
}

ul.legend li {
	line-height: 1.2em;
	list-style: none;
}

ul.legend li::before {
	content: "\2022";
	display: inline-block;
	font-size: 3em;
	font-weight: bold;
	margin-left: -1em;
	vertical-align: middle;
	width: 1em;
}

ul.legend li.flow::before {
	color: #0C7BDC;
}

ul.legend li.process::before {
	color: #CC333F;
}

ul.legend li.workflow::before {
	color: #EDC951;
}

ul.legend li.apex::before {
	color: #3C784C;
}