/* BEGIN General grid-like layout */
html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

#content {
	flex: 1 0 auto;
}

#footer {
	flex-shrink: 0;
}

/* END General grid-like layout */

body {
	/* color: #000;
	font-family: Verdana, "Lucida Sans Unicode", sans-serif;
	font-size: 1em; */
	margin: auto !important;
	padding: 1em 6em;
	width: 80%;
}

/* Desktop */
@media only screen and (min-device-width: 1366px) {
	.mdc-fab {
		display: none !important;
	}
}

/* Small screens */
@media only screen and (max-width: 1280px) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

/* Smartphone portrait, landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

/* Tablet portrait, landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		width: 100%;
		padding: 0;
	}

	.container {
		width: 100% !important;
		max-width: 100% !important;
	}

	.mdc-fab {
		display: block !important;
	}
}

/* Bootstrap */
@media (min-width: 768px) {

	.container,
	.container-md,
	.container-sm {
		max-width: 100% !important;
	}
}

@media (min-width: 576px) {

	.container,
	.container-sm {
		max-width: 100% !important;
	}
}

.fullscreen {
	width: 100%;
	padding: 0;
}

/* Material.io theme */
.mdc-fab {
	--mdc-theme-primary: #215ca0;
	--mdc-theme-secondary: #215ca0;
	position: fixed !important;
	left: 95% !important;
	z-index: 999 !important;
	border: 2px solid #FFF !important;
}

h1 {
	background-color: #345A9C;
	/* border-radius: 5px;
	border: 1px solid #000;
	*/
	color: #FFF;
	font-size: 2rem !important;
	line-height: 3rem !important;
	margin-top: 0;
	text-align: center;
}

table {
	border: 1px solid #DDD;
	border-collapse: collapse;
	margin: 1em 0;
}

th,
td {
	background-color: #F7F6F6;
	padding: 5px;
}

td.center {
	text-align: center;
}

thead tr {
	background-color: #DDD !important;
	border-collapse: collapse;
}

thead tr th {
	background-color: #DDD !important;
	border-collapse: collapse;
}

a {
	color: #345A9C !important;
}

a.textLink {
	color: #000 !important;
	text-decoration: none !important;
}

a.textLink:hover {
	text-decoration: underline !important;
}

a.feedbackLink {
	color: #FFF !important;
	text-decoration: none;
}

ul,
ol {
	list-style-position: outside;
}

li {
	line-height: 1.5;
}

li.no {
	list-style: none;
	margin-left: -1.25em;
	padding: 0px;
}

li.no:before {
	content: "\274C";
	font-size: 0.6em;
	padding-right: .7em;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.columnLeft {
	flex: 0;
	width: 10%;
}

.columnRight {
	flex: 1;
	width: 90%;
	padding-left: 1em;
}

#header {
	background-color: rgb(248, 246, 246);
	/* border-radius: 5px;
	border: 1px solid #DDD; */
	margin-bottom: 2em;
	padding-bottom: 5px;
	text-align: center;
}

.headerNote {
	font-size: 0.7em;
}

.headerLogo {
	margin-left: 2em;
}

#footer {
	background-color: rgb(248, 246, 246);
	/* border-radius: 5px;
	border: 1px solid #DDD; */
	font-size: 0.7em;
	margin-top: 2em;
	text-align: center;
	padding: 1em;
}

div.footer-info a {
	text-decoration: none;
}

div.footer-info a:hover {
	text-decoration: underline;
}

div.footer-copyrightf a:hover {
	text-decoration: underline;
}

span.textLinkVisible {
	text-decoration: underline !important;
}

div.sourceBox {
	font-size: 0.7em;
	margin-top: -0.5em;
	text-align: left;
	width: 100%;
}

span.boxIcon {
	float: left;
	margin-right: .3em;
}

#feedback {
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #215ca0;
	display: block;
	font-size: 15px;
	color: #FFF;
	padding: 10px 25px;
	border: 1px solid #215ca0;
	/* border-radius: 5px 0; */
}